<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Detective</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Word Detective</h1>
    <div class="clues-container">
        <p>{{ clues }}</p>
    </div>
    <div class="secret-word-container">
        {% for letter in guessed_letters %}
            <span class="letter">{{ letter }}</span>
        {% endfor %}
    </div>
    <p class="attempts-left">Attempts Left: {{ attempts_left }}</p>
    <p class="message">{{ message }}</p>

    {% if attempts_left > 0 and "_" in guessed_letters %}
    <form method="POST" action="/">
        <label for="guess">Your Guess:</label>
        <input type="text" id="guess" name="guess" autocomplete="off" placeholder="Enter a letter">
        <button type="submit">Guess</button>
    </form>
    {% endif %}

    <p><a class="new-game-link" href="{{ url_for('new') }}">Start New Game</a></p>

    <p><a class="new-game-link" href="{{ url_for('add_word') }}">Add New Word</a></p>

</body>
</html>