<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    h1 {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
</style>
<body>
    <h1>Leaderboard</h1>
    <ol>
        {% for player, score in leaderboard %}
        <li>{{ player }}: {{ score }}</li>
        {% endfor %}
    </ol>
    <button type="button" class="back-button" onclick="window.location.href='/'">Back to Game</button>
    <script>
        // Nastavení aktuálního režimu při načtení stránky
        const currentTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', currentTheme);
    </script>
</body>
</html>